---
title: blogs
layout: 'base.njk'
---

    <main>
       
<div class="section container">
<h1 class="section-title">Recent articles</h1>
<ul role="list" class="articles__list flow">

  {%- for post in collections.post | reverse -%}
{% include "article-snippet.njk" %}

  {%- endfor -%}

    </ul>
  </div>
    </main>

{# <article class="snippet">
    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image">
    <h3 class="snippet__title">{{ post.data.title }}</h3>
    <p class="snippet__meta">by <span>{{ post.data.author }} </span></p>
    <p class="snippet__body">{{ post.data.description }}</p>
    <a href="" class="btn btn--primary">Continue Reading</a>
  </article> #}

{# 
---
title: boom
layout: 'base.njk'
---

    <main>
       
<div class="section container">
<h1 class="section-title">Recent articles</h1>
<ul role="list" class="articles__list flow"><li>
         
        </li>
        </ul>
  </div>
    </main> #}
